<div class="row p-5">
    <div class="col-md-8 mb-4">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h5 class="mb-0">Biling details</h5>
            </div>
            <div class="card-body">
                <form action="/make-purchase" method="post">
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="fname">First name</label>
                                <input type="text" id="fname" name="fname" class="form-control" />
                                <small style="color: red;" id="fnameAlert">Enter the first name</small>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <label class="form-label" for="lname">Last name</label>
                                <input type="text" id="lname" name="lname" class="form-control" />
                                <small style="color: red;" id="lnameAlert">Enter the last name</small>
                            </div>
                        </div>
                    </div>

                    <!-- Text input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="address">Address</label>
                        <input type="text" id="address" name="address" class="form-control" />
                        <small style="color: red;" id="addressAlert">Enter the full address</small>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" />
                        <small style="color: red;" id="emailAlert">Enter the valid email address</small>
                    </div>

                    <!-- Number input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="phoneNumber">Phone</label>
                        <input type="number" id="phoneNumber" name="phoneNumber" class="form-control" />
                        <small style="color: red;" id="phoneAlert">Enter the valid 10 digit numbers</small>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h5 class="mb-0">Summary</h5>
            </div>
            <div class="card-body">
                <div class="alert alert-danger" id="alert" role="alert">
                    Please select any payment options !!
                </div>
                <ul class="list-group">
                    <li class="list-group-item d-flex align-items-center border-0 px-0 pb-0">
                        <input type="radio" name="paymentMethod" id="cod" class="" value="cod"><span class="ml-2"
                            style="font-weight: 600;">COD</span>
                    </li>
                    <li class="list-group-item d-flex  align-items-center px-0">
                        <input type="radio" name="paymentMethod" id="onlinePayment" value="onlinePayment"><span
                            class="ml-2" style="font-weight: 600;">ONLINE PAYMENT</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                        <div>
                            <strong>Total amount</strong>
                        </div>
                        <span><strong>$<sapn>{{totalCartPrice}}</sapn></strong></span>
                    </li>
                </ul>

                <button type="button" class="btn btn-primary btn-lg btn-block" onclick="makePurchase()">
                    Make purchase
                </button>
            </div>
        </div>
    </div>
</div>

<style>
    #fnameAlert {
        display: none;
    }

    #lnameAlert {
        display: none;
    }

    #addressAlert {
        display: none;
    }

    #phoneAlert {
        display: none;
    }

    #emailAlert {
        display: none;
    }

    .form-control {
        box-shadow: 0px 0 2px rgb(75, 74, 74);
    }

    #alert {
        display: none;
    }
</style>

<script>
    var eachValidation = [false, false, false, false, false]
    // fname , lname, email. address , phoneNumber
    var firstName = document.getElementById('fname');
    var lastName = document.getElementById('lname');
    var email = document.getElementById('email');
    var address = document.getElementById('address');
    var phoneNumber = document.getElementById('phoneNumber');
    var cod = document.getElementById('cod')
    var onlinePayment = document.getElementById('onlinePayment')
    const fnameAlert = document.getElementById('fnameAlert')
    const lnameAlert = document.getElementById('lnameAlert')
    const addressAlert = document.getElementById('addressAlert')
    const phoneAlert = document.getElementById('phoneAlert')
    const emailAlert = document.getElementById('emailAlert')
    const alert = document.getElementById('alert')
    // each array loctions
    var eachInputArray = [{ id: fname, alert: fnameAlert }, { id: lastName, alert: lnameAlert }, { id: email, alert: emailAlert }, { id: address, alert: addressAlert }, { id: phoneNumber, alert: phoneAlert }]
    // action for when focus the input
    function onFocus(id, alertId) {
        alertId.style.display = 'none';
        id.style.boxShadow = 'none'
        id.style.border = "2px solid blue";
    }
    // when blur input values are true
    function onblurSuccess(id) {
        id.style.border = '';
        id.style.boxShadow = 'none';
    }
    //onblur failure
    function onblurFailure(id, alertId) {
        id.style.boxShadow = '0 0 5px red';
        id.style.border = 'none'
        alertId.style.display = 'block';
    }
    // click button payment option chang
    function changeAlert() {
        document.getElementById('alert').style.display = 'none'
    }
    // when click cod radio button
    cod.addEventListener('click', function () {
        changeAlert()
    });
    // when click the online payment button
    onlinePayment.addEventListener('click', function () {
        changeAlert()
    })


    // first name form validation
    firstName.addEventListener('focus', function () {
        onFocus(firstName, fnameAlert)
    })
    firstName.addEventListener('blur', function () {
        if (firstName.value.trim() === '') {
            eachValidation[0] = false
            onblurFailure(firstName, fnameAlert)

        } else {
            eachValidation[0] = true
            onblurSuccess(firstName)
        }

    })
    // last name form validation
    lastName.addEventListener('focus', function () {
        onFocus(lastName, lnameAlert);
    })
    lastName.addEventListener('blur', function () {
        if (lastName.value.trim() === '') {
            eachValidation[1] = false
            onblurFailure(lastName, lnameAlert)
        } else {
            eachValidation[1] = true
            onblurSuccess(lastName)
        }

    })
    // email validation
    email.addEventListener('focus', function () {
        onFocus(email, emailAlert)
    })
    email.addEventListener('blur', function () {
        if (!emailIsValid(email.value)) {
            eachValidation[2] = false
            onblurFailure(email, emailAlert)
        } else {
            eachValidation[2] = true
            onblurSuccess(email)
        }

    })
    // address   validation
    address.addEventListener('focus', function () {
        onFocus(address, addressAlert)
    })
    address.addEventListener('blur', function () {
        if (address.value.trim() === '') {
            eachValidation[3] = false
            onblurFailure(address, addressAlert)
        } else {
            eachValidation[3] = true
            onblurSuccess(address)
        }
    })
    // phone number validation
    phoneNumber.addEventListener('focus', function () {
        onFocus(phoneNumber, phoneAlert)
    })
    phoneNumber.addEventListener('blur', function () {
        if (phoneNumber.value.length < 10 || phoneNumber.value.length > 10) {
            eachValidation[4] = false
            onblurFailure(phoneNumber, phoneAlert)
        } else {
            eachValidation[4] = true
            onblurSuccess(phoneNumber)
        }
    })

    function makePurchase() {

        const allInputValidation = eachValidation.every(item => item === true);
        let paymentOption = cod.checked ? 'COD' : (onlinePayment.checked ? 'ONLINE PAYMENT' : false)
        if (allInputValidation && paymentOption) {
            // go to server to store orders in database
            $.ajax({
                url:'/make-purchase',
                method:'post',
                data:{
                    firstName : firstName.value,
                    lastName: lastName.value,
                    email:email.value,
                    address: address.value,
                    phoneNumber: phoneNumber.value,
                    payment:paymentOption
                },
                success: (response) =>{
                    if(response.status){
                        // to success fully
                        location.href = '/order-success'
                    }else{
                        // pending online paymnet
                        
                    }
                }
            })

        } else {
            // find the location where error occur
            if(allInputValidation && !paymentOption){
                document.getElementById('alert').style.display = 'block'
                return
            }else if(!allInputValidation && !paymentOption){
                 document.getElementById('alert').style.display = 'block'
                 showAlerts(eachValidation)
            }else{
                showAlerts(eachValidation)
            }
            console.log("Ajmal")
            
        }
    }



    function showAlerts(eachValidation){
        let indexList = [];
        eachValidation.forEach((validate, index) => {
            if (!validate) {
                indexList.push(index);
            }
        });
        indexList.forEach(index => {
            onblurFailure(eachInputArray[index].id, eachInputArray[index].alert)
        })
    }

    function emailIsValid(email) {
        return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
    }
</script>